@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "Montserrat";
  background-color: #333;
  color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  align-items: center;
}

/* Car */

.car {
  position: relative;
  z-index: 10;
  padding-bottom: 350px;
  animation: moveCar 7s infinite linear;
}
.car__body {
  position: absolute;
  top: 0;
  left: 150px;
  width: 550px;
  height: 250px;
  background-color: #535975;
  border-radius: 50px 50px 0 0;
}
.car__body::before {
  content: "";
  position: absolute;
  left: -120px;
  top: 125px;
  width: 120px;
  height: 125px;
  background-color: #535975;
  border-radius: 20px 0 0 20px;
}
.car__body::after {
  content: "";
  position: absolute;
  left: 550px;
  top: 125px;
  width: 120px;
  height: 125px;
  background-color: #535975;
  border-radius: 0 20px 20px 0;
}
.car__door-inner {
  height: 180px;
  width: 200px;
  background-color: #42475c;
  position: absolute;
  border-radius: 50px 5px 5px 5px;
  top: 30px;
  transition: transform 0.5s;
}
.car__door-inner--right {
  border-radius: 5px 50px 5px 5px;
}
.car__door {
  height: 180px;
  width: 200px;
  background-color: #6b7395;
  position: absolute;
  border-radius: 50px 5px 5px 5px;
  top: 30px;
  z-index: 2;
  transition: transform 0.5s;
}
.car__door--right {
  border-radius: 5px 50px 5px 5px;
}

.car__door--left {
  transform-origin: left;
}
.car__door--right {
  transform-origin: right;
}
.car__door::after {
  content: "";
  width: 160px;
  height: 70px;
  background-color: #454545;
  transform: translate(-20px, 20px);
  border-radius: 30px 5px 5px 5px;
}
.car__door--right::after {
  border-radius: 5px 30px 5px 5px;
}
.car__door::before {
  content: "";
  width: 40px;
  height: 10px;
  border-radius: 4px;
  background-color: #454545;
  transform: translate(20px, 45px);
}
.car__door--left {
  left: 200px;
}
.car__door--right {
  left: 450px;
}
.car__door-inner--left {
  left: 200px;
}
.car__door-inner--right {
  left: 450px;
}

.car__door--left:hover {
  transform: rotateY(-180deg);
}
.car__door--right:hover {
  transform: rotateY(180deg);
}

.car__light-back {
  height: 30px;
  width: 10px;
  background-color: red;
  position: absolute;
  left: 20px;
  top: 175px;
  box-shadow: -5px 0px 15px red;
}
.car__light-front {
  height: 30px;
  width: 10px;
  background-color: yellow;
  position: absolute;
  top: 175px;
  left: 820px;
  box-shadow: 5px 0px 15px yellow;
}
.car__wheel {
  position: absolute;
  left: 120px;
  top: 200px;
  z-index: -1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px dashed;
  background-color: #454545;
  animation: rotate 3s infinite linear;
}
.car__wheel:last-child {
  left: 630px;
}
.car__wheel::after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #fff;
  transform: translate(25px, 25px);
  border-radius: 50%;
}

.road {
  flex: 1 1 100%;
  transform: translate(0px,50%);
}
.road img {
  min-width: 100%;
  height: 180px;
}

@keyframes blink-front {
  0% {
    box-shadow: 2px 0px 5px rgba(255, 255, 0, 0);
  }
  100% {
    box-shadow: 5px 0px 15px yellow;
  }
}
@keyframes blink-back {
  0% {
    box-shadow: -2px 0px 5px red;
  }
  100% {
    box-shadow: -5px 0px 15px red;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveCar {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.car:hover {
  animation-play-state: paused;
}
.car:hover .car__light-front {
  animation: blink-front 0.5s infinite alternate;
}
.car:hover .car__light-back {
  animation: blink-back 0.5s infinite alternate;
}
.car:hover .car__wheel {
  animation-play-state: paused;
}
